body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: #282c34;
}

.App {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100vw;
  height: 100vh;
  padding-top: 10%;
}

.App-picker {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.App-select {
  width: 150px;
  margin-right: 10px;
}

.App-button {
  width: 130px;
  margin-left: 10px;
}

.App-spinner {
  width: 40px;
  margin-left: 10px;
  display: flex;
}

.App-movie {
  color: white;
}
