body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: #282c34;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.App-picker {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
}

.App-select {
  width: 150px;
  margin-right: 10px;
}

.App-button {
  width: 130px;
  margin-left: 10px;
}

.App-spinner {
  width: 40px;
  margin-left: 10px;
  display: flex;
}

.App-movie {
  color: white;
  text-align: center;
  margin-top: 50px;
}

.App-card {
  width: 22rem;
  color: black;
}
