body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: #282c34;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.App-picker {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
}

.App-select {
  width: 150px;
  margin-right: 10px;
}

.App-button {
  width: 130px;
  margin-left: 10px;
}

.App-spinner {
  width: 40px;
  margin-left: 10px;
  display: flex;
}

.App-movie {
  color: white;
  text-align: center;
  margin-top: 50px;
}

.App-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 22rem;
  border-radius: 5px;
  margin: 10px;
}

.App-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.App-card img {
  border-radius: 5px 5px 0 0;
  height: 300px;
  object-fit: cover;
}

.App-card-body {
  text-align: left;
}

.App-card-title {
  font-weight: bold;
  font-size: 1.5em;
  color: #333;
}

.App-card-subtitle {
  font-size: 1em;
  color: #777;
  margin-bottom: 15px;
}

.App-card-text {
  color: #555;
  font-size: 0.875em;
}
